* {
  margin: 0 auto;
  font-family: "Poppins", sans-serif;
}
.sign_up1 {
  width: 800px;
  height: 600px;
  background-image: url(image/13.jpg);
  border: 1px solid black;
  margin-top: 50px;
  border-radius: 30px;
}

.sign_up1 h1 {
  text-align: center;
}

.frame {
  width: 400px;
  height: 450px;
  position: relative;
  border: none;

  background: rgba(138, 228, 142, 0.7);

  margin-top: 77px;
}

.frame h2 {
  text-align: center;
}

.frame .user1 {
  margin: 10px 33px;
}

.frame .user1 input {
  width: 300px;
  height: 40px;
  padding-left: 30px;
}

.frame .user1 i {
  position: relative;
  top: -35px;
  left: 10px;
}
/* */
.frame .email1 {
  margin: 10px 33px;
}

.frame .email1 input {
  width: 300px;
  height: 40px;
  padding-left: 33px;
}

.frame .email1 i {
  position: relative;
  top: -35px;
  left: 10px;
}
/**/
.frame .password1 {
  margin: 10px 33px;
}

.frame .password1 input {
  width: 300px;
  height: 40px;
  padding-left: 34px;
}

.frame .password1 i {
  position: relative;
  top: -35px;
  left: 10px;
}
/**/
.frame .retypepassword1 {
  margin: 10px 33px;
}

.frame .retypepassword1 input {
  width: 300px;
  height: 40px;
  padding-left: 30px;
}

.frame .retypepassword1 i {
  position: relative;
  top: -35px;
  left: 10px;
}

#signup1 {
  background-color: #d52685;
  cursor: pointer;
  width: 150px;
  height: 50px;
  margin-left: 120px;
  border: none;
  font-weight: 700;
}
